[submodule "modules/libgp_interface"]
	path = modules/libgp_interface
	url = git@github.awsinternal.tri.global:alex-cunningham/libgp_interface.git
[submodule "modules/libgp"]
	path = modules/libgp
	url = https://github.com/xuningy/libgp
